---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="О сопротивлении / 反抗について / About">
    <Header />

    <article
        class="prose prose-base sm:prose-xl lg:prose-xl mx-auto max-w-7xl grid-cols-2 gap-x-4 px-4 py-16 print:grid print:text-sm"
    >
        <h2>
            О сопротивлении / <span class="jp-bold">反抗について</span> / About
        </h2>
        <p>
            <li>
                Что происходило в России последние 20 лет,
                <a href="/timeline">таймлайн</a> / プーチン政権の<a
                    href="/timeline">タイムライン</a
                >
                / <a href="/timeline">Timeline</a> of past 20 years in Russia
            </li>

            <li>
                <a href="https://whitebluewhite.info/">Сайт</a> бело-сине-белого
                флага / 白・水色・白旗<a
                    href="https://whitebluewhite.info/japanese">について</a
                >
                / About
                <a href="https://whitebluewhite.info/english"
                    >white-blue-white flag</a
                >
            </li>

            <li>
                <a href="https://partisan.super.site/"
                    >Методы гражданского протеста</a
                >
                / 市民の抗議活動方法 / Methods of civil disobedience
            </li>

            <li>
                <a href="https://t.me/peace_movement">Мирное движение</a> российских
                граждан_ок, проживающих за границей / 海外に住むロシア市民の平和運動
                / Peace movement of Russian citizens living abroad
            </li>
        </p>

        <h2>
            Как помочь / <span class="jp-bold">貢献したい方へ</span> / How to help
        </h2>
        <p>
            <li>
                Присоединяйтесь к нашим митингам и акциям в Японии /
                日本で行うデモに参加していただきたいです。
            </li>
            <li>
                Помогайте искать рабочие места для беженцев /
                ウクライナ難民、ロシア移民を採用できる会社探しに取り組んでいただきたいです。
                <p class="max-w-lg pb-2 pl-12 text-sm text-black">
                    Если вы или ваша компания могут предоставить рабочие места,
                    помочь с оформлением приглашений и виз, или и то, и другое,
                    свяжитесь с нами
                    <a href="mailto:yasoprotivlenie@gmail.com"
                        >yasoprotivlenie@gmail.com</a
                    >
                </p>
                <p class="max-w-lg pb-2 pl-12 text-sm text-black">
                    御社、または知り合いの方が採用できる場合、労働ビザサポートできる場合、以下の<a
                        href="mailto:yasoprotivlenie@gmail.com"
                        >メールアドレス</a
                    >までご一報をお願い致します。
                </p>
            </li>

            <li>
                Финансовая помощь / 財政援助について
                <ul>
                    <li>
                        <a href="https://readyfor.jp/tags/Ukraine"
                            >Пожертвования</a
                        >
                        неправительственным организациям / NPO法人に寄付
                    </li>
                    <li>
                        Проект <a href="https://t.me/huiiivoiiine"
                            >«Помогаем уехать»
                        </a>/
                        ウクライナから出たい人に支援するプロジェクト（ウクライナ語・ロシア語対応）
                    </li>
                    <li>
                        <a href="https://t.me/rfu2022"
                            >Российские волонтеры на польско-украинской границе</a
                        >
                        / ウクライナ・ポーランド国境にて難民に支援するロシア人
                    </li>
                    <li>
                        Помощь беженцам в России, фонд
                        <a href="https://refugee.ru/pomoch/"
                            >«Гражданское содействие»
                        </a>
                        / ロシア内で難民に支援するNPO
                    </li>
                    <li>
                        <a
                            href="https://dynamic-experience-e13.notion.site/Abortions-and-medical-care-3536c4dcec8d46bda338bef4c1de6376"
                            >Медицинская и психологическая помощь</a
                        >
                        украинкам, пережившим насилие / 虐待にあったウクライナ人女性向けの医療・心理カウンセリング
                    </li>
                    <li>
                        <a href="https://www.instagram.com/haukraine/"
                            >Help the Animals in Ukraine</a
                        >
                        / 戦火のウクライナに残された動物たちに食べ物を届ける募金活動
                        / Fundraiser to feed abandoned animals in Ukraine during
                        the war.
                    </li>
                </ul>
            </li>
        </p>

        <h2>Публикации / <span class="jp-bold">取材</span> / Media</h2>

        <p>
            <li class="opacity-50">
                <span class="italic">NHK WORLD - JAPAN:</span>
                <a
                    href="https://www3.nhk.or.jp/nhkworld/en/news/videos/20220510210552073/"
                    >In Japan, Russian Residents Torn by War</a
                >
            </li>
            <li class="opacity-50">
                <span class="italic">TBS NEWS DIG:</span>
                <a href="https://www.youtube.com/watch?v=zLjY0rPH6Iw"
                    >反戦デモで代弁 「戦争反対」ロシア国内の若き声</a
                >
            </li>
            <li class="opacity-50">
                <span class="italic">TBS NEWS DIG:</span>
                <a href="https://www.youtube.com/watch?v=r9iaD7RxmZ4"
                    >「本当に悲しい」戦勝記念日を前に在日ロシア人らが反戦デモ</a
                >
            </li>
            <li class="opacity-50">
                <span class="italic">NHK World:</span>
                <a
                    href="https://www3.nhk.or.jp/kansai-news/20220509/2000060980.html"
                    >ロシア プーチン大統領 軍事侵攻正当化 ウクライナ人が非難</a
                >
            </li>
            <li class="opacity-50">
                <span class="italic">NHK World:</span>
                <a
                    href="https://www3.nhk.or.jp/nhkworld/en/news/videos/20220405144436417/"
                    >Russians Abroad Combat Propaganda, Fight for Peace</a
                >
            </li>
            <li class="opacity-50">
                <span class="italic">Yahoo:</span>
                <a
                    href="https://news.yahoo.co.jp/articles/b911158df84d9a62a808adb08536ab323699aad9"
                    >「戦争はありえない」在日ロシア人らも抗議の声（テレビ朝日系（ANN））
                </a>
            </li>
            <li class="opacity-50">
                <span class="italic">TBS:</span>
                <a href="https://news.tbs.co.jp/newseye/tbs_newseye6004830.html"
                    >都内でも「戦争やめよ」の声
                    在日ウクライナ人とロシア人が反戦デモ
                </a>
            </li>
        </p>
    </article>
</Layout>
