---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="FAQ">
    <Header />

    <article
        class="prose prose-base sm:prose-xl lg:prose-xl container mx-auto grid max-w-7xl grid-cols-1 gap-6 px-4 py-16 lg:grid-cols-3 print:text-sm"
    >
        <div>
            <p>
                <b>Кто может прийти на наши акции? </b>
                Мы рады всем. Пожалуйста, присоединяйтесь, если вы солидарны с нашей
                позицией и идеей мирного протеста.
            </p>

            <p>
                <b>Я журналист, можно ли мне прийти? </b>
                Пожалуйста, приходите. Мы очень благодарны журналистам за их внимание
                и помощь с освещением нашей позиции.
            </p>

            <p>
                <b>Какую символику можно использовать? </b>
                Главным символом антивоенного протеста россиян по всему миру стал
                бело-сине-белый флаг, мы выходим на акции под ним.
                <a href="https://whitebluewhite.info/">Вот</a> информация о флаге
                и том, как его сделать. Любая　антивоенная　символика уместна. Мы
                за разнообразие и многообразие наших голосов.
            </p>

            <p>
                <b>Что можно написать на плакате? </b>
                Пожалуйста, воздержитесь от грубых высказываний и символов, которые
                могут оскорбить, показаться неуместными с точки зрения правил приличия
                или призывать к насилию. Мы призываем к миру и выступаем против репрессий
                в России. Мы стараемся, чтобы эти идеи звучали ясно на наших плакатах.
            </p>

            <p>
                <b>Можно ли позвать своих знакомых? </b>
                Да, конечно, если они также солидарны с нашей позицией и идеей мирного
                протеста.
            </p>

            <p>
                <b>Будут ли СМИ? </b>
                На все наши акции приходят журналисты, это очень важно. Если вы готовы,
                можете выразить свою позицию в интервью или, наоборот, попросить
                не показывать ваше лицо, если для вас это неприемлемо.
            </p>

            <p>
                <b
                    >У меня есть идея по поводу акции, к кому можно обратиться?
                </b>
                Напишите в личные сообщения в любой из наших соцсетей или на почту
                <a href="mailto:yasoprotivlenie@gmail.com"
                    >yasoprotivlenie@gmail.com</a
                >.
            </p>

            <p>
                <b>Как часто проходят акции? </b> Мы стараемся делать акции каждые
                две недели на выходных.
            </p>

            <p>
                <b>Я хочу присоединиться, но у меня нет флага или плаката. </b>
                Пожалуйста, приходите. Мы организуем митинги давно и у нас точно
                найдется что-то для вас.
            </p>
        </div>

        <div>
            <p>
                <b class="jp-bold">誰でもこのデモに参加しても大丈夫ですか？ </b>
                はい、誰でも大歓迎です。「戦争反対」というメッセージと平和的な抗議に賛成の方、ご自由に参加してください。
            </p>

            <p>
                <b class="jp-bold"
                    >私はメディアの代表であり、でも来ても大丈夫ですか？
                </b>
                はい、お願いします。我々の意見と立場に注目させてくれるジャーナリストさんにとても感謝致します。
            </p>

            <p>
                <b class="jp-bold"
                    >デモでどういうシンボルを使っても大丈夫ですか？</b
                >
                世界中で戦争に反対しているロシア人が使う象徴として、白・水色・白の旗になり、在日のロシア人もそれを持ってデモに出ています。この旗の詳細と作り方の情報が<a
                    href="https://whitebluewhite.info/japanese"
                    >以下にあります</a
                >。
                　戦争反対であるシンボル、なんでも使っても大丈夫です。「戦争反対」の声に多様性があるといいです。
            </p>
            <p>
                <b class="jp-bold">
                    自分でポスターを持っていきたいけど、それに何を書けばいいですか？
                </b>
                暴力、虐待、侮辱となるメッセージ、一般マナーを守らないメッセージは、お控えください。我々は平和をのぞみ、ロシア国内の抑圧に反対しています。この2つのメッセージをポスターにて明らかにしたいです。
            </p>

            <p>
                <b class="jp-bold">友達や知り合いを誘っても大丈夫ですか？ </b>
                はい、もちろんです。デモの内容と我々の立場、平和的な抗議のアイディアに賛成していただけるのであれば、よろしくお願いいたします。
            </p>

            <p>
                <b class="jp-bold">メディアもデモに来ますか？ </b>
                はい、我々のすべてのデモには、あらゆるメディアのジャーナリストさんが取材してくれています。これはとても大事です。もしあなたが自分の意見、立場を発表したい場合、インタビューで発言できます。その一方で、顔・名前を出したくない方、メディア代表にお願いしたら取材に撮影されないので、ご安
                心ください。
            </p>

            <p>
                <b class="jp-bold"
                    >デモに関するアイディアがあります。どこで共有すればいいですか？
                </b>
                我々のSNSにメッセージで送るか、<a
                    href="mailto:yasoprotivlenie@gmail.com">このメール</a
                >で送ってください。
            </p>

            <p>
                <b class="jp-bold">デモはどれぐらいの頻度で行いますか？ </b>
                できるだけ2週間に一回、土日に行うことにしています。
            </p>

            <p>
                <b class="jp-bold"
                    >参加したいのですが、旗・ポスターがありません。
                </b>
                どうぞいらっしゃってください。前のデモに使ったポスターなどが余っているので、あなたが使えるもの、是非何かを用意できます。
            </p>
        </div>

        <div>
            <p>
                <b>Who can come to our demonstrations?</b>
                We welcome everyone who shares our stance and idea of peaceful protest.
            </p>

            <p>
                <b>I am a journalist, can I come?</b>
                Journalists are very welcome. We are thankful for your attention
                and help with spreading our message.
            </p>

            <p>
                <b>What symbols can be used?</b>
                The main symbol of Russian anti-war protests worldwide is the white-blue-white
                flag, and we use it during our demonstrations. Here you can
                <a href="https://whitebluewhite.info/english"
                    >read more about the flag</a
                >
                and how to make it. Yet any anti-war symbols are fine, and we welcome
                all the diversity of voices and symbols.
            </p>

            <p>
                <b>What can be written on the poster?</b>
                Please refrain from rude language, offensive symbols, or calls for
                violence. We call for peace and oppose repressions in Russia. We
                are trying to make these ideas sound vivid on our posters.
            </p>

            <p>
                <b>Can I call my friends?</b>
                Yes, of course, if they also share our position and the idea of ​​peaceful
                protest.
            </p>

            <p>
                <b>Will journalists be present?</b>
                Journalists come to all our demonstrations, and this is very important.
                If you are willing, you can express your position in an interview
                or, contrary, ask not to show your face if you are worried about
                it.
            </p>

            <p>
                <b>I have an idea for a demonstration, so whom can I contact?</b
                >
                Please send a private message to any of our social networks or email
                <a href="mailto:yasoprotivlenie@gmail.com"
                    >yasoprotivlenie@gmail.com</a
                >.
            </p>

            <p>
                <b>How often do demonstrations take place?</b>We try to do
                demonstrations every two weeks on weekends.
            </p>

            <p>
                <b>I want to join, but I don't have a flag or poster.</b>
                Please, come. We have been organizing demonstrations for a long time,
                so we will have many posters and materials to share.
            </p>
        </div>
    </article>
</Layout>
