---
const { href, src, title, hrefLabel } = Astro.props;
---

<a
    {href}
    class="mb-8 flex flex-row items-center justify-between no-underline hover:underline"
>
    <div class="flex flex-col">
        <span class="mb-1 text-black">{title}</span>
        <span class="text-xs">{hrefLabel || href}</span>
    </div>
    <img {src} alt={title} class="m-0 ml-4 block h-24 w-24 p-0" />
</a>
